/GPATH
/GTAGS
/GRTAGS
/.ccls-cache
/.projectile
/.ycm_extra_conf.py
/build
/.vscode
/settings.cfg
/offset_dumper
/pengWin
/offset_dumper.d
/pengWin.d
*.o
*.ko
*.mod
*.mod.o
*.mod.c
*.cmd
Kbuild
modules.order
Module.symvers
.cache/
