## offsets
glow_offset=0x2505320
local_player_offset=0x1c696a8
attack_offset=0x85cc3a
map_name_offset=0xf43585
force_jump_offset=0x250dee0

## settings
# general settings
main_loop_sleep=10
debug=false
panic_key=F9
# file for reading mouse clicks
# common ones are /dev/input/event18 and /dev/input/mouse0
mouse_file=/dev/input/event20
# trigger settings
trigger_delay=10
trigger_use_random=false
# find your key with "$ dumpkeys -l"
trigger_key=Caps_Lock
# bhop settings
bhop_key=space
# aimbot settings
aim_key=mouse1
aim_sleep=20
aim_fov=30
aim_autoshoot=false
# enable / disable smoothing on first shot you may want to disable this for perfect flicks
aim_smooth_first_shot=true
smoothing_factor=0.25
# your ingame sensitivity (used for aim calculations)
sensitivity=1.3
# radar settings
find_map=true
radar_sleep=15
