## offsets
glow_offset=0x2519b40
local_player_offset=0x1c7e2a8
attack_offset=0x85929a
map_name_offset=0x121eb45
force_jump_offset=0x2522700

## settings
# general settings
main_loop_sleep=10
debug=false
# file for reading mouse clicks
mouse_file=/dev/input/event0
# trigger settings
trigger_delay=10
trigger_use_random=false
# find your key with "$ dumpkeys -l"
trigger_key=Caps_Lock
# bhop settings
bhop_key=space
# aimbot settings
aim_key=mouse1
aim_sleep=20
aim_fov=1.9
aim_autoshoot=false
# enable / disable smoothing on first shot you may want to disable this for perfect flicks
aim_smooth_first_shot=true
smoothing_factor=0.25
# your ingame sensitivity (used for aim calculations)
sensitivity=1.3
# radar settings
find_map=true
radar_sleep=150
